<form action="/stylists/new" method="post">
  <label for="stylist_name">Stylist name</label>
  <input id="Stylist_name" name="stylist_name" type="text">
  <button type="submit">Add stylist</button>
</form>
