@if (@Model["stylistClients"].Count == 0)
{
  <p>No clients have been added yet</p>
}
else
{
  <ul>
    @foreach (var client in Model["stylistClients"])
    {
      <li><a href="/client/@client.GetId()">@client.GetClient()</a></li>
    }
  </ul>
}
<form action="/client/new" method="post">
  <label for="client_name">Name of client: </label>
  <input type="text" name="client_name" required autofocus="" placeholder="Enter a Stylist name">
  <button type="submit" name="button">Submit</button>
</form>
